.abs {
    position: absolute;
    width: auto;
}

/* Extra extra small devices (phone-gcs, 375px and down) */
@media only screen and (max-width: 375px) {
    .one-gc {
        height: calc(40rem*(0.22));
        left: calc(16rem*(0.22));
        top: calc(6rem*(0.22));
    }
    .two-gc {
        height: calc(36rem*(0.22));
        left: calc(44rem*(0.22));
        top: calc(18rem*(0.22));
    }
    .three-gc {
        height: calc(32rem*(0.22));
        left: calc(3rem*(0.22));
        top: calc(38rem*(0.22));
    }
    .four-gc {
        height: calc(40rem*(0.22));
        left: calc(58rem*(0.22));
        top: calc(62rem*(0.22));
    }
    .five-gc {
        height: calc(32rem*(0.22));
        left: calc(38rem*(0.22));
        top: calc(88rem*(0.22));
    }
    .six-gc {
        height: calc(36rem*(0.22));
        left: calc(12rem*(0.22));
        top: calc(80rem*(0.22));
    }
    .seven-gc {
        height: calc(40rem*(0.22));
        left: calc(16rem*(0.22));
        top: calc(118rem*(0.22));
    }
    .eight-gc {
        height: calc(48rem*(0.22));
        left: calc(60rem*(0.22));
        top: calc(145rem*(0.22));
    }
    .nine-gc {
        height: calc(32rem*(0.22));
        left: calc(30rem*(0.22));
        top: calc(170rem*(0.22));
    }
    .ten-gc {
        height: calc(32rem*(0.22));
        left: calc(8rem*(0.22));
        top: calc(180rem*(0.22));
    }
    .eleven-gc {
        height: calc(36rem*(0.22));
        left: calc(15rem*(0.22));
        top: calc(210rem*(0.22));
    }
    .twelve-gc {
        height: calc(40rem*(0.22));
        left: calc(55rem*(0.22));
        top: calc(215rem*(0.22));
    }
    .thirteen-gc {
        height: calc(32rem*(0.22));
        left: calc(40rem*(0.22));
        top: calc(245rem*(0.22));
    }
    .fourteen-gc {
        height: calc(44rem*(0.22));
        left: calc(8rem*(0.22));
        top: calc(260rem*(0.22));
        padding-bottom: calc(5rem*(0.22));
        z-index: -1;
    }
}

/* Extra small devices (phone-gcs, 600px and down) */
@media only screen and (max-width: 600px) {
    .one-gc {
        height: calc(40rem*(0.26));
        left: calc(16rem*(0.26));
        top: calc(6rem*(0.26));
    }
    .two-gc {
        height: calc(36rem*(0.26));
        left: calc(44rem*(0.26));
        top: calc(18rem*(0.26));
    }
    .three-gc {
        height: calc(32rem*(0.26));
        left: calc(3rem*(0.26));
        top: calc(38rem*(0.26));
    }
    .four-gc {
        height: calc(40rem*(0.26));
        left: calc(58rem*(0.26));
        top: calc(62rem*(0.26));
    }
    .five-gc {
        height: calc(32rem*(0.26));
        left: calc(38rem*(0.26));
        top: calc(88rem*(0.26));
    }
    .six-gc {
        height: calc(36rem*(0.26));
        left: calc(12rem*(0.26));
        top: calc(80rem*(0.26));
    }
    .seven-gc {
        height: calc(40rem*(0.26));
        left: calc(16rem*(0.26));
        top: calc(118rem*(0.26));
    }
    .eight-gc {
        height: calc(48rem*(0.26));
        left: calc(60rem*(0.26));
        top: calc(145rem*(0.26));
    }
    .nine-gc {
        height: calc(32rem*(0.26));
        left: calc(30rem*(0.26));
        top: calc(170rem*(0.26));
    }
    .ten-gc {
        height: calc(32rem*(0.26));
        left: calc(8rem*(0.26));
        top: calc(180rem*(0.26));
    }
    .eleven-gc {
        height: calc(36rem*(0.26));
        left: calc(15rem*(0.26));
        top: calc(210rem*(0.26));
    }
    .twelve-gc {
        height: calc(40rem*(0.26));
        left: calc(55rem*(0.26));
        top: calc(215rem*(0.26));
    }
    .thirteen-gc {
        height: calc(32rem*(0.26));
        left: calc(40rem*(0.26));
        top: calc(245rem*(0.26));
    }
    .fourteen-gc {
        height: calc(44rem*(0.26));
        left: calc(8rem*(0.26));
        top: calc(260rem*(0.26));
        padding-bottom: calc(5rem*(0.26));
        z-index: -1;
    }
}

/* Small devices (portrait tablets and large phone-gcs, 600px and up) */
@media only screen and (min-width: 600px) {
    .one-gc {
        height: calc(40rem*(0.41));
        left: calc(16rem*(0.41));
        top: calc(6rem*(0.41));
    }
    .two-gc {
        height: calc(36rem*(0.41));
        left: calc(44rem*(0.41));
        top: calc(18rem*(0.41));
    }
    .three-gc {
        height: calc(32rem*(0.41));
        left: calc(3rem*(0.41));
        top: calc(38rem*(0.41));
    }
    .four-gc {
        height: calc(40rem*(0.41));
        left: calc(58rem*(0.41));
        top: calc(62rem*(0.41));
    }
    .five-gc {
        height: calc(32rem*(0.41));
        left: calc(38rem*(0.41));
        top: calc(88rem*(0.41));
    }
    .six-gc {
        height: calc(36rem*(0.41));
        left: calc(12rem*(0.41));
        top: calc(80rem*(0.41));
    }
    .seven-gc {
        height: calc(40rem*(0.41));
        left: calc(16rem*(0.41));
        top: calc(118rem*(0.41));
    }
    .eight-gc {
        height: calc(48rem*(0.41));
        left: calc(60rem*(0.41));
        top: calc(145rem*(0.41));
    }
    .nine-gc {
        height: calc(32rem*(0.41));
        left: calc(30rem*(0.41));
        top: calc(170rem*(0.41));
    }
    .ten-gc {
        height: calc(32rem*(0.41));
        left: calc(8rem*(0.41));
        top: calc(180rem*(0.41));
    }
    .eleven-gc {
        height: calc(36rem*(0.41));
        left: calc(15rem*(0.41));
        top: calc(210rem*(0.41));
    }
    .twelve-gc {
        height: calc(40rem*(0.41));
        left: calc(55rem*(0.41));
        top: calc(215rem*(0.41));
    }
    .thirteen-gc {
        height: calc(32rem*(0.41));
        left: calc(40rem*(0.41));
        top: calc(245rem*(0.41));
    }
    .fourteen-gc {
        height: calc(44rem*(0.41));
        left: calc(8rem*(0.41));
        top: calc(260rem*(0.41));
        padding-bottom: calc(5rem*(0.41));
        z-index: -1;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .one-gc {
        height: calc(40rem*(0.53));
        left: calc(16rem*(0.53));
        top: calc(6rem*(0.53));
    }
    .two-gc {
        height: calc(36rem*(0.53));
        left: calc(44rem*(0.53));
        top: calc(18rem*(0.53));
    }
    .three-gc {
        height: calc(32rem*(0.53));
        left: calc(3rem*(0.53));
        top: calc(38rem*(0.53));
    }
    .four-gc {
        height: calc(40rem*(0.53));
        left: calc(58rem*(0.53));
        top: calc(62rem*(0.53));
    }
    .five-gc {
        height: calc(32rem*(0.53));
        left: calc(38rem*(0.53));
        top: calc(88rem*(0.53));
    }
    .six-gc {
        height: calc(36rem*(0.53));
        left: calc(12rem*(0.53));
        top: calc(80rem*(0.53));
    }
    .seven-gc {
        height: calc(40rem*(0.53));
        left: calc(16rem*(0.53));
        top: calc(118rem*(0.53));
    }
    .eight-gc {
        height: calc(48rem*(0.53));
        left: calc(60rem*(0.53));
        top: calc(145rem*(0.53));
    }
    .nine-gc {
        height: calc(32rem*(0.53));
        left: calc(30rem*(0.53));
        top: calc(170rem*(0.53));
    }
    .ten-gc {
        height: calc(32rem*(0.53));
        left: calc(8rem*(0.53));
        top: calc(180rem*(0.53));
    }
    .eleven-gc {
        height: calc(36rem*(0.53));
        left: calc(15rem*(0.53));
        top: calc(210rem*(0.53));
    }
    .twelve-gc {
        height: calc(40rem*(0.53));
        left: calc(55rem*(0.53));
        top: calc(215rem*(0.53));
    }
    .thirteen-gc {
        height: calc(32rem*(0.53));
        left: calc(40rem*(0.53));
        top: calc(245rem*(0.53));
    }
    .fourteen-gc {
        height: calc(44rem*(0.53));
        left: calc(8rem*(0.53));
        top: calc(260rem*(0.53));
        padding-bottom: calc(5rem*(0.53));
        z-index: -1;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .one-gc {
        height: calc(40rem*(0.68));
        left: calc(16rem*(0.68));
        top: calc(6rem*(0.68));
    }
    .two-gc {
        height: calc(36rem*(0.68));
        left: calc(44rem*(0.68));
        top: calc(18rem*(0.68));
    }
    .three-gc {
        height: calc(32rem*(0.68));
        left: calc(3rem*(0.68));
        top: calc(38rem*(0.68));
    }
    .four-gc {
        height: calc(40rem*(0.68));
        left: calc(58rem*(0.68));
        top: calc(62rem*(0.68));
    }
    .five-gc {
        height: calc(32rem*(0.68));
        left: calc(38rem*(0.68));
        top: calc(88rem*(0.68));
    }
    .six-gc {
        height: calc(36rem*(0.68));
        left: calc(12rem*(0.68));
        top: calc(80rem*(0.68));
    }
    .seven-gc {
        height: calc(40rem*(0.68));
        left: calc(16rem*(0.68));
        top: calc(118rem*(0.68));
    }
    .eight-gc {
        height: calc(48rem*(0.68));
        left: calc(60rem*(0.68));
        top: calc(145rem*(0.68));
    }
    .nine-gc {
        height: calc(32rem*(0.68));
        left: calc(30rem*(0.68));
        top: calc(170rem*(0.68));
    }
    .ten-gc {
        height: calc(32rem*(0.68));
        left: calc(8rem*(0.68));
        top: calc(180rem*(0.68));
    }
    .eleven-gc {
        height: calc(36rem*(0.68));
        left: calc(15rem*(0.68));
        top: calc(210rem*(0.68));
    }
    .twelve-gc {
        height: calc(40rem*(0.68));
        left: calc(55rem*(0.68));
        top: calc(215rem*(0.68));
    }
    .thirteen-gc {
        height: calc(32rem*(0.68));
        left: calc(40rem*(0.68));
        top: calc(245rem*(0.68));
    }
    .fourteen-gc {
        height: calc(44rem*(0.68));
        left: calc(8rem*(0.68));
        top: calc(260rem*(0.68));
        padding-bottom: calc(5rem*(0.68));
        z-index: -1;
    }
}

/* Semi large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .one-gc {
        height: calc(40rem*(0.83));
        left: calc(16rem*(0.83));
        top: calc(6rem*(0.83));
    }
    .two-gc {
        height: calc(36rem*(0.83));
        left: calc(44rem*(0.83));
        top: calc(18rem*(0.83));
    }
    .three-gc {
        height: calc(32rem*(0.83));
        left: calc(3rem*(0.83));
        top: calc(38rem*(0.83));
    }
    .four-gc {
        height: calc(40rem*(0.83));
        left: calc(58rem*(0.83));
        top: calc(62rem*(0.83));
    }
    .five-gc {
        height: calc(32rem*(0.83));
        left: calc(38rem*(0.83));
        top: calc(88rem*(0.83));
    }
    .six-gc {
        height: calc(36rem*(0.83));
        left: calc(12rem*(0.83));
        top: calc(80rem*(0.83));
    }
    .seven-gc {
        height: calc(40rem*(0.83));
        left: calc(16rem*(0.83));
        top: calc(118rem*(0.83));
    }
    .eight-gc {
        height: calc(48rem*(0.83));
        left: calc(60rem*(0.83));
        top: calc(145rem*(0.83));
    }
    .nine-gc {
        height: calc(32rem*(0.83));
        left: calc(30rem*(0.83));
        top: calc(170rem*(0.83));
    }
    .ten-gc {
        height: calc(32rem*(0.83));
        left: calc(8rem*(0.83));
        top: calc(180rem*(0.83));
    }
    .eleven-gc {
        height: calc(36rem*(0.83));
        left: calc(15rem*(0.83));
        top: calc(210rem*(0.83));
    }
    .twelve-gc {
        height: calc(40rem*(0.83));
        left: calc(55rem*(0.83));
        top: calc(215rem*(0.83));
    }
    .thirteen-gc {
        height: calc(32rem*(0.83));
        left: calc(40rem*(0.83));
        top: calc(245rem*(0.83));
    }
    .fourteen-gc {
        height: calc(44rem*(0.83));
        left: calc(8rem*(0.83));
        top: calc(260rem*(0.83));
        padding-bottom: calc(5rem*(0.83));
        z-index: -1;
    }
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    .one-gc {
        height: 40rem;
        left: 16rem;
        top: 6rem;
    }
    .two-gc {
        height: 36rem;
        left: 44rem;
        top: 18rem;
    }
    .three-gc {
        height: 32rem;
        left: 3rem;
        top: 38rem;
    }
    .four-gc {
        height: 40rem;
        left: 58rem;
        top: 62rem;
    }
    .five-gc {
        height: 32rem;
        left: 38rem;
        top: 88rem;
    }
    .six-gc {
        height: 36rem;
        left: 12rem;
        top: 80rem;
    }
    .seven-gc {
        height: 40rem;
        left: 16rem;
        top: 118rem;
    }
    .eight-gc {
        height: 48rem;
        left: 60rem;
        top: 145rem;
    }
    .nine-gc {
        height: 32rem;
        left: 30rem;
        top: 170rem;
    }
    .ten-gc {
        height: 32rem;
        left: 8rem;
        top: 180rem;
    }
    .eleven-gc {
        height: 36rem;
        left: 15rem;
        top: 210rem;
    }
    .twelve-gc {
        height: 40rem;
        left: 55rem;
        top: 215rem;
    }
    .thirteen-gc {
        height: 32rem;
        left: 40rem;
        top: 245rem;
    }
    .fourteen-gc {
        height: 44rem;
        left: 8rem;
        top: 260rem;
        padding-bottom: 5rem;
        z-index: -1;
    }
}

/* Extra extra large devices (laptops/desktops, 1680px and up) */
@media only screen and (min-width: 1680px) {
    .one-gc {
        height: calc(40rem*(1.16));
        left: calc(16rem*(1.16));
        top: calc(6rem*(1.16));
    }
    .two-gc {
        height: calc(36rem*(1.16));
        left: calc(44rem*(1.16));
        top: calc(18rem*(1.16));
    }
    .three-gc {
        height: calc(32rem*(1.16));
        left: calc(3rem*(1.16));
        top: calc(38rem*(1.16));
    }
    .four-gc {
        height: calc(40rem*(1.16));
        left: calc(58rem*(1.16));
        top: calc(62rem*(1.16));
    }
    .five-gc {
        height: calc(32rem*(1.16));
        left: calc(38rem*(1.16));
        top: calc(88rem*(1.16));
    }
    .six-gc {
        height: calc(36rem*(1.16));
        left: calc(12rem*(1.16));
        top: calc(80rem*(1.16));
    }
    .seven-gc {
        height: calc(40rem*(1.16));
        left: calc(16rem*(1.16));
        top: calc(118rem*(1.16));
    }
    .eight-gc {
        height: calc(48rem*(1.16));
        left: calc(60rem*(1.16));
        top: calc(145rem*(1.16));
    }
    .nine-gc {
        height: calc(32rem*(1.16));
        left: calc(30rem*(1.16));
        top: calc(170rem*(1.16));
    }
    .ten-gc {
        height: calc(32rem*(1.16));
        left: calc(8rem*(1.16));
        top: calc(180rem*(1.16));
    }
    .eleven-gc {
        height: calc(36rem*(1.16));
        left: calc(15rem*(1.16));
        top: calc(210rem*(1.16));
    }
    .twelve-gc {
        height: calc(40rem*(1.16));
        left: calc(55rem*(1.16));
        top: calc(215rem*(1.16));
    }
    .thirteen-gc {
        height: calc(32rem*(1.16));
        left: calc(40rem*(1.16));
        top: calc(245rem*(1.16));
    }
    .fourteen-gc {
        height: calc(44rem*(1.16));
        left: calc(8rem*(1.16));
        top: calc(260rem*(1.16));
        padding-bottom: calc(5rem*(1.16));
        z-index: -1;
    }
}
