.abs {
    position: absolute;
    width: auto;
}

/* Extra extra small devices (phone-ns, 375px and down) */
@media only screen and (max-width: 375px) {
    .one-ho {
        position: absolute;
        width: calc(40rem*(0.22));
        left: calc(6rem*(0.22));
        top: calc(6rem*(0.22));
    }
    .two-ho {
        height: calc(36rem*(0.22));
        left: calc(64rem*(0.22));
        top: calc(8rem*(0.22));
    }
    .three-ho {
        height: calc(32rem*(0.22));
        left: calc(2rem*(0.22));
        top: calc(43rem*(0.22));
    }
    .four-ho {
        height: calc(40rem*(0.22));
        left: calc(60rem*(0.22));
        top: calc(73rem*(0.22));
    }
    .five-ho {
        height: calc(32rem*(0.22));
        left: calc(41rem*(0.22));
        top: calc(99rem*(0.22));
    }
    .six-ho {
        height: calc(36rem*(0.22));
        left: calc(12rem*(0.22));
        top: calc(91rem*(0.22));
    }
    .seven-ho {
        height: calc(40rem*(0.22));
        left: calc(22rem*(0.22));
        top: calc(129rem*(0.22));
    }
    .eight-ho {
        height: calc(36rem*(0.22));
        left: calc(2rem*(0.22));
        top: calc(154rem*(0.22));
    }
    .nine-ho {
        height: calc(32rem*(0.22));
        left: calc(41rem*(0.22));
        top: calc(174rem*(0.22));
    }
    .ten-ho {
        height: calc(32rem*(0.22));
        left: calc(8rem*(0.22));
        top: calc(194rem*(0.22));
    }
    .eleven-ho {
        height: calc(40rem*(0.22));
        left: calc(15rem*(0.22));
        top: calc(224rem*(0.22));
    }
    .twelve-ho {
        height: calc(40rem*(0.22));
        left: calc(59rem*(0.22));
        top: calc(229rem*(0.22));
    }
    .thirteen-ho {
        height: calc(32rem*(0.22));
        left: calc(40rem*(0.22));
        top: calc(259rem*(0.22));
    }
    .fourteen-ho {
        height: calc(36rem*(0.22));
        left: calc(10rem*(0.22));
        top: calc(274rem*(0.22));
    }
    .fifteen-ho {
        height: calc(32rem*(0.22));
        left: calc(41rem*(0.22));
        top: calc(290rem*(0.22));
    }
    .sixteen-ho {
        height: calc(36rem*(0.22));
        left: calc(4rem*(0.22));
        top: calc(309rem*(0.22));
    }
    .seventeen-ho {
        height: calc(36rem*(0.22));
        left: calc(60rem*(0.22));
        top: calc(335rem*(0.22));
    }
    .eighteen-ho {
        height: calc(36rem*(0.22));
        left: calc(20rem*(0.22));
        top: calc(355rem*(0.22));
    }
    .nineteen-ho {
        height: calc(36rem*(0.22));
        left: calc(55rem*(0.22));
        top: calc(370rem*(0.22));
    }
    .twenty-ho {
        height: calc(36rem*(0.22));
        left: calc(4rem*(0.22));
        top: calc(387rem*(0.22));
        padding-bottom: calc(5rem*(0.22));
        z-index: -1;
    }
}

/* Extra small devices (phone-ns, 600px and down) */
@media only screen and (max-width: 600px) {
    .one-ho {
        position: absolute;
        width: calc(40rem*(0.26));
        left: calc(6rem*(0.26));
        top: calc(6rem*(0.26));
    }
    .two-ho {
        height: calc(36rem*(0.26));
        left: calc(64rem*(0.26));
        top: calc(8rem*(0.26));
    }
    .three-ho {
        height: calc(32rem*(0.26));
        left: calc(2rem*(0.26));
        top: calc(43rem*(0.26));
    }
    .four-ho {
        height: calc(40rem*(0.26));
        left: calc(60rem*(0.26));
        top: calc(73rem*(0.26));
    }
    .five-ho {
        height: calc(32rem*(0.26));
        left: calc(41rem*(0.26));
        top: calc(99rem*(0.26));
    }
    .six-ho {
        height: calc(36rem*(0.26));
        left: calc(12rem*(0.26));
        top: calc(91rem*(0.26));
    }
    .seven-ho {
        height: calc(40rem*(0.26));
        left: calc(22rem*(0.26));
        top: calc(129rem*(0.26));
    }
    .eight-ho {
        height: calc(36rem*(0.26));
        left: calc(2rem*(0.26));
        top: calc(154rem*(0.26));
    }
    .nine-ho {
        height: calc(32rem*(0.26));
        left: calc(41rem*(0.26));
        top: calc(174rem*(0.26));
    }
    .ten-ho {
        height: calc(32rem*(0.26));
        left: calc(8rem*(0.26));
        top: calc(194rem*(0.26));
    }
    .eleven-ho {
        height: calc(40rem*(0.26));
        left: calc(15rem*(0.26));
        top: calc(224rem*(0.26));
    }
    .twelve-ho {
        height: calc(40rem*(0.26));
        left: calc(59rem*(0.26));
        top: calc(229rem*(0.26));
    }
    .thirteen-ho {
        height: calc(32rem*(0.26));
        left: calc(40rem*(0.26));
        top: calc(259rem*(0.26));
    }
    .fourteen-ho {
        height: calc(36rem*(0.26));
        left: calc(10rem*(0.26));
        top: calc(274rem*(0.26));
    }
    .fifteen-ho {
        height: calc(32rem*(0.26));
        left: calc(41rem*(0.26));
        top: calc(290rem*(0.26));
    }
    .sixteen-ho {
        height: calc(36rem*(0.26));
        left: calc(4rem*(0.26));
        top: calc(309rem*(0.26));
    }
    .seventeen-ho {
        height: calc(36rem*(0.26));
        left: calc(60rem*(0.26));
        top: calc(335rem*(0.26));
    }
    .eighteen-ho {
        height: calc(36rem*(0.26));
        left: calc(20rem*(0.26));
        top: calc(355rem*(0.26));
    }
    .nineteen-ho {
        height: calc(36rem*(0.26));
        left: calc(55rem*(0.26));
        top: calc(370rem*(0.26));
    }
    .twenty-ho {
        height: calc(36rem*(0.26));
        left: calc(4rem*(0.26));
        top: calc(387rem*(0.26));
        padding-bottom: calc(5rem*(0.26));
        z-index: -1;
    }
}

/* Small devices (portrait tablets and large phone-ns, 600px and up) */
@media only screen and (min-width: 600px) {
    .one-ho {
        position: absolute;
        width: calc(40rem*(0.41));
        left: calc(6rem*(0.41));
        top: calc(6rem*(0.41));
    }
    .two-ho {
        height: calc(36rem*(0.41));
        left: calc(64rem*(0.41));
        top: calc(8rem*(0.41));
    }
    .three-ho {
        height: calc(32rem*(0.41));
        left: calc(2rem*(0.41));
        top: calc(43rem*(0.41));
    }
    .four-ho {
        height: calc(40rem*(0.41));
        left: calc(60rem*(0.41));
        top: calc(73rem*(0.41));
    }
    .five-ho {
        height: calc(32rem*(0.41));
        left: calc(41rem*(0.41));
        top: calc(99rem*(0.41));
    }
    .six-ho {
        height: calc(36rem*(0.41));
        left: calc(12rem*(0.41));
        top: calc(91rem*(0.41));
    }
    .seven-ho {
        height: calc(40rem*(0.41));
        left: calc(22rem*(0.41));
        top: calc(129rem*(0.41));
    }
    .eight-ho {
        height: calc(36rem*(0.41));
        left: calc(2rem*(0.41));
        top: calc(154rem*(0.41));
    }
    .nine-ho {
        height: calc(32rem*(0.41));
        left: calc(41rem*(0.41));
        top: calc(174rem*(0.41));
    }
    .ten-ho {
        height: calc(32rem*(0.41));
        left: calc(8rem*(0.41));
        top: calc(194rem*(0.41));
    }
    .eleven-ho {
        height: calc(40rem*(0.41));
        left: calc(15rem*(0.41));
        top: calc(224rem*(0.41));
    }
    .twelve-ho {
        height: calc(40rem*(0.41));
        left: calc(59rem*(0.41));
        top: calc(229rem*(0.41));
    }
    .thirteen-ho {
        height: calc(32rem*(0.41));
        left: calc(40rem*(0.41));
        top: calc(259rem*(0.41));
    }
    .fourteen-ho {
        height: calc(36rem*(0.41));
        left: calc(10rem*(0.41));
        top: calc(274rem*(0.41));
    }
    .fifteen-ho {
        height: calc(32rem*(0.41));
        left: calc(41rem*(0.41));
        top: calc(290rem*(0.41));
    }
    .sixteen-ho {
        height: calc(36rem*(0.41));
        left: calc(4rem*(0.41));
        top: calc(309rem*(0.41));
    }
    .seventeen-ho {
        height: calc(36rem*(0.41));
        left: calc(60rem*(0.41));
        top: calc(335rem*(0.41));
    }
    .eighteen-ho {
        height: calc(36rem*(0.41));
        left: calc(20rem*(0.41));
        top: calc(355rem*(0.41));
    }
    .nineteen-ho {
        height: calc(36rem*(0.41));
        left: calc(55rem*(0.41));
        top: calc(370rem*(0.41));
    }
    .twenty-ho {
        height: calc(36rem*(0.41));
        left: calc(4rem*(0.41));
        top: calc(387rem*(0.41));
        padding-bottom: calc(5rem*(0.41));
        z-index: -1;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .one-ho {
        position: absolute;
        width: calc(40rem*(0.53));
        left: calc(6rem*(0.53));
        top: calc(6rem*(0.53));
    }
    .two-ho {
        height: calc(36rem*(0.53));
        left: calc(64rem*(0.53));
        top: calc(8rem*(0.53));
    }
    .three-ho {
        height: calc(32rem*(0.53));
        left: calc(2rem*(0.53));
        top: calc(43rem*(0.53));
    }
    .four-ho {
        height: calc(40rem*(0.53));
        left: calc(60rem*(0.53));
        top: calc(73rem*(0.53));
    }
    .five-ho {
        height: calc(32rem*(0.53));
        left: calc(41rem*(0.53));
        top: calc(99rem*(0.53));
    }
    .six-ho {
        height: calc(36rem*(0.53));
        left: calc(12rem*(0.53));
        top: calc(91rem*(0.53));
    }
    .seven-ho {
        height: calc(40rem*(0.53));
        left: calc(22rem*(0.53));
        top: calc(129rem*(0.53));
    }
    .eight-ho {
        height: calc(36rem*(0.53));
        left: calc(2rem*(0.53));
        top: calc(154rem*(0.53));
    }
    .nine-ho {
        height: calc(32rem*(0.53));
        left: calc(41rem*(0.53));
        top: calc(174rem*(0.53));
    }
    .ten-ho {
        height: calc(32rem*(0.53));
        left: calc(8rem*(0.53));
        top: calc(194rem*(0.53));
    }
    .eleven-ho {
        height: calc(40rem*(0.53));
        left: calc(15rem*(0.53));
        top: calc(224rem*(0.53));
    }
    .twelve-ho {
        height: calc(40rem*(0.53));
        left: calc(59rem*(0.53));
        top: calc(229rem*(0.53));
    }
    .thirteen-ho {
        height: calc(32rem*(0.53));
        left: calc(40rem*(0.53));
        top: calc(259rem*(0.53));
    }
    .fourteen-ho {
        height: calc(36rem*(0.53));
        left: calc(10rem*(0.53));
        top: calc(274rem*(0.53));
    }
    .fifteen-ho {
        height: calc(32rem*(0.53));
        left: calc(41rem*(0.53));
        top: calc(290rem*(0.53));
    }
    .sixteen-ho {
        height: calc(36rem*(0.53));
        left: calc(4rem*(0.53));
        top: calc(309rem*(0.53));
    }
    .seventeen-ho {
        height: calc(36rem*(0.53));
        left: calc(60rem*(0.53));
        top: calc(335rem*(0.53));
    }
    .eighteen-ho {
        height: calc(36rem*(0.53));
        left: calc(20rem*(0.53));
        top: calc(355rem*(0.53));
    }
    .nineteen-ho {
        height: calc(36rem*(0.53));
        left: calc(55rem*(0.53));
        top: calc(370rem*(0.53));
    }
    .twenty-ho {
        height: calc(36rem*(0.53));
        left: calc(4rem*(0.53));
        top: calc(387rem*(0.53));
        padding-bottom: calc(5rem*(0.53));
        z-index: -1;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .one-ho {
        position: absolute;
        width: calc(40rem*(0.68));
        left: calc(6rem*(0.68));
        top: calc(6rem*(0.68));
    }
    .two-ho {
        height: calc(36rem*(0.68));
        left: calc(64rem*(0.68));
        top: calc(8rem*(0.68));
    }
    .three-ho {
        height: calc(32rem*(0.68));
        left: calc(2rem*(0.68));
        top: calc(43rem*(0.68));
    }
    .four-ho {
        height: calc(40rem*(0.68));
        left: calc(60rem*(0.68));
        top: calc(73rem*(0.68));
    }
    .five-ho {
        height: calc(32rem*(0.68));
        left: calc(41rem*(0.68));
        top: calc(99rem*(0.68));
    }
    .six-ho {
        height: calc(36rem*(0.68));
        left: calc(12rem*(0.68));
        top: calc(91rem*(0.68));
    }
    .seven-ho {
        height: calc(40rem*(0.68));
        left: calc(22rem*(0.68));
        top: calc(129rem*(0.68));
    }
    .eight-ho {
        height: calc(36rem*(0.68));
        left: calc(2rem*(0.68));
        top: calc(154rem*(0.68));
    }
    .nine-ho {
        height: calc(32rem*(0.68));
        left: calc(41rem*(0.68));
        top: calc(174rem*(0.68));
    }
    .ten-ho {
        height: calc(32rem*(0.68));
        left: calc(8rem*(0.68));
        top: calc(194rem*(0.68));
    }
    .eleven-ho {
        height: calc(40rem*(0.68));
        left: calc(15rem*(0.68));
        top: calc(224rem*(0.68));
    }
    .twelve-ho {
        height: calc(40rem*(0.68));
        left: calc(59rem*(0.68));
        top: calc(229rem*(0.68));
    }
    .thirteen-ho {
        height: calc(32rem*(0.68));
        left: calc(40rem*(0.68));
        top: calc(259rem*(0.68));
    }
    .fourteen-ho {
        height: calc(36rem*(0.68));
        left: calc(10rem*(0.68));
        top: calc(274rem*(0.68));
    }
    .fifteen-ho {
        height: calc(32rem*(0.68));
        left: calc(41rem*(0.68));
        top: calc(290rem*(0.68));
    }
    .sixteen-ho {
        height: calc(36rem*(0.68));
        left: calc(4rem*(0.68));
        top: calc(309rem*(0.68));
    }
    .seventeen-ho {
        height: calc(36rem*(0.68));
        left: calc(60rem*(0.68));
        top: calc(335rem*(0.68));
    }
    .eighteen-ho {
        height: calc(36rem*(0.68));
        left: calc(20rem*(0.68));
        top: calc(355rem*(0.68));
    }
    .nineteen-ho {
        height: calc(36rem*(0.68));
        left: calc(55rem*(0.68));
        top: calc(370rem*(0.68));
    }
    .twenty-ho {
        height: calc(36rem*(0.68));
        left: calc(4rem*(0.68));
        top: calc(387rem*(0.68));
        padding-bottom: calc(5rem*(0.68));
        z-index: -1;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .one-ho {
        position: absolute;
        width: 40rem;
        left: 6rem;
        top: 6rem;
    }
    .two-ho {
        height: 36rem;
        left: 64rem;
        top: 8rem;
    }
    .three-ho {
        height: 32rem;
        left: 2rem;
        top: 43rem;
    }
    .four-ho {
        height: 40rem;
        left: 60rem;
        top: 73rem;
    }
    .five-ho {
        height: 32rem;
        left: 41rem;
        top: 99rem;
    }
    .six-ho {
        height: 36rem;
        left: 12rem;
        top: 91rem;
    }
    .seven-ho {
        height: 40rem;
        left: 22rem;
        top: 129rem;
    }
    .eight-ho {
        height: 36rem;
        left: 2rem;
        top: 154rem;
    }
    .nine-ho {
        height: 32rem;
        left: 41rem;
        top: 174rem;
    }
    .ten-ho {
        height: 32rem;
        left: 8rem;
        top: 194rem;
    }
    .eleven-ho {
        height: 40rem;
        left: 15rem;
        top: 224rem;
    }
    .twelve-ho {
        height: 40rem;
        left: 59rem;
        top: 229rem;
    }
    .thirteen-ho {
        height: 32rem;
        left: 40rem;
        top: 259rem;
    }
    .fourteen-ho {
        height: 36rem;
        left: 10rem;
        top: 274rem;
    }
    .fifteen-ho {
        height: 32rem;
        left: 41rem;
        top: 290rem;
    }
    .sixteen-ho {
        height: 36rem;
        left: 4rem;
        top: 309rem;
    }
    .seventeen-ho {
        height: 36rem;
        left: 60rem;
        top: 335rem;
    }
    .eighteen-ho {
        height: 36rem;
        left: 20rem;
        top: 355rem;
    }
    .nineteen-ho {
        height: 36rem;
        left: 55rem;
        top: 370rem;
    }
    .twenty-ho {
        height: 36rem;
        left: 4rem;
        top: 387rem;
        padding-bottom: 5rem;
        z-index: -1;
    }
}

/* Large devices (laptops/desktops, 1680px and up) */
@media only screen and (min-width: 1680px) {
    .one-ho {
        position: absolute;
        width: calc(40rem*(1.16));
        left: calc(6rem*(1.16));
        top: calc(6rem*(1.16));
    }
    .two-ho {
        height: calc(36rem*(1.16));
        left: calc(64rem*(1.16));
        top: calc(8rem*(1.16));
    }
    .three-ho {
        height: calc(32rem*(1.16));
        left: calc(2rem*(1.16));
        top: calc(43rem*(1.16));
    }
    .four-ho {
        height: calc(40rem*(1.16));
        left: calc(60rem*(1.16));
        top: calc(73rem*(1.16));
    }
    .five-ho {
        height: calc(32rem*(1.16));
        left: calc(41rem*(1.16));
        top: calc(99rem*(1.16));
    }
    .six-ho {
        height: calc(36rem*(1.16));
        left: calc(12rem*(1.16));
        top: calc(91rem*(1.16));
    }
    .seven-ho {
        height: calc(40rem*(1.16));
        left: calc(22rem*(1.16));
        top: calc(129rem*(1.16));
    }
    .eight-ho {
        height: calc(36rem*(1.16));
        left: calc(2rem*(1.16));
        top: calc(154rem*(1.16));
    }
    .nine-ho {
        height: calc(32rem*(1.16));
        left: calc(41rem*(1.16));
        top: calc(174rem*(1.16));
    }
    .ten-ho {
        height: calc(32rem*(1.16));
        left: calc(8rem*(1.16));
        top: calc(194rem*(1.16));
    }
    .eleven-ho {
        height: calc(40rem*(1.16));
        left: calc(15rem*(1.16));
        top: calc(224rem*(1.16));
    }
    .twelve-ho {
        height: calc(40rem*(1.16));
        left: calc(59rem*(1.16));
        top: calc(229rem*(1.16));
    }
    .thirteen-ho {
        height: calc(32rem*(1.16));
        left: calc(40rem*(1.16));
        top: calc(259rem*(1.16));
    }
    .fourteen-ho {
        height: calc(36rem*(1.16));
        left: calc(10rem*(1.16));
        top: calc(274rem*(1.16));
    }
    .fifteen-ho {
        height: calc(32rem*(1.16));
        left: calc(41rem*(1.16));
        top: calc(290rem*(1.16));
    }
    .sixteen-ho {
        height: calc(36rem*(1.16));
        left: calc(4rem*(1.16));
        top: calc(309rem*(1.16));
    }
    .seventeen-ho {
        height: calc(36rem*(1.16));
        left: calc(60rem*(1.16));
        top: calc(335rem*(1.16));
    }
    .eighteen-ho {
        height: calc(36rem*(1.16));
        left: calc(20rem*(1.16));
        top: calc(355rem*(1.16));
    }
    .nineteen-ho {
        height: calc(36rem*(1.16));
        left: calc(55rem*(1.16));
        top: calc(370rem*(1.16));
    }
    .twenty-ho {
        height: calc(36rem*(1.16));
        left: calc(4rem*(1.16));
        top: calc(387rem*(1.16));
        padding-bottom: calc(5rem*(1.16));
        z-index: -1;
    }
}
