/* Extra small devices (phone-ns, 600px and down) */
@media only screen and (max-width: 600px) {
    .homepage {
        height: calc(750px*(1/2)*(5/8));
    }
}

/* Small devices (portrait tablets and large phone-ns, 600px and up) */
@media only screen and (min-width: 600px) {
    .homepage {
        height: calc(750px*(1/2));
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .homepage {
        height: calc(750px*(2/3));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .homepage {
        height: calc(750px*(5/6));
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .homepage {
        height: 750px;
    }
}
