.abs {
    position: absolute;
    width: auto;
}

/* Extra extra small devices (phone-ns, 375px and down) */
@media only screen and (max-width: 375px) {
    .one-js {
        height: calc(46rem*(0.75)*(0.22));
        left: calc(8rem*(0.75)*(0.22));
        top: calc(6rem*(0.75)*(0.22));
    }
    .two-js {
        height: calc(36rem*(0.75)*(0.22));
        left: calc(38rem*(0.75)*(0.22));
        top: calc(24rem*(0.75)*(0.22));
    }
    .three-js {
        height: calc(50rem*(0.75)*(0.22));
        left: calc(66rem*(0.75)*(0.22));
        top: calc(42rem*(0.75)*(0.22));
    }
    .four-js {
        height: calc(40rem*(0.75)*(0.22));
        left: calc(33rem*(0.75)*(0.22));
        top: calc(66rem*(0.75)*(0.22));
    }
    .five-js {
        height: calc(44rem*(0.75)*(0.22));
        left: calc(10rem*(0.75)*(0.22));
        top: calc(90rem*(0.75)*(0.22));
    }
    .six-js {
        height: calc(48rem*(0.75)*(0.22));
        left: calc(80rem*(0.75)*(0.22));
        top: calc(120rem*(0.75)*(0.22));
    }
    .seven-js {
        height: calc(44rem*(0.75)*(0.22));
        left: calc(46rem*(0.75)*(0.22));
        top: calc(128rem*(0.75)*(0.22));
    }
    .eight-js {
        height: calc(36rem*(0.75)*(0.22));
        left: calc(28rem*(0.75)*(0.22));
        top: calc(150rem*(0.75)*(0.22));
    }
    .nine-js {
        height: calc(40rem*(0.75)*(0.22));
        left: calc(2rem*(0.75)*(0.22));
        top: calc(141rem*(0.75)*(0.22));
    }
    .ten-js {
        height: calc(56rem*(0.75)*(0.22));
        left: calc(5rem*(0.75)*(0.22));
        top: calc(190rem*(0.75)*(0.22));
    }
    .eleven-js {
        height: calc(60rem*(0.75)*(0.22));
        left: calc(67rem*(0.75)*(0.22));
        top: calc(198rem*(0.75)*(0.22));
    }
    .twelve-js {
        height: calc(36rem*(0.75)*(0.22));
        left: calc(8rem*(0.75)*(0.22));
        top: calc(255rem*(0.75)*(0.22));
    }
    .thirteen-js {
        height: calc(46rem*(0.75)*(0.22));
        left: calc(26rem*(0.75)*(0.22));
        top: calc(274rem*(0.75)*(0.22));
    }
    .fourteen-js {
        height: calc(48rem*(0.75)*(0.22));
        left: calc(59rem*(0.75)*(0.22));
        top: calc(282rem*(0.75)*(0.22));
    }
    .fifteen-js {
        height: calc(44rem*(0.75)*(0.22));
        left: calc(88rem*(0.75)*(0.22));
        top: calc(300rem*(0.75)*(0.22));
        padding-bottom: calc(5rem*(0.75)*(0.22));
    }
}

/* Extra small devices (phone-ns, 600px and down) */
@media only screen and (max-width: 600px) {
    .one-js {
        height: calc(46rem*(0.75)*(0.26));
        left: calc(8rem*(0.75)*(0.26));
        top: calc(6rem*(0.75)*(0.26));
    }
    .two-js {
        height: calc(36rem*(0.75)*(0.26));
        left: calc(38rem*(0.75)*(0.26));
        top: calc(24rem*(0.75)*(0.26));
    }
    .three-js {
        height: calc(50rem*(0.75)*(0.26));
        left: calc(66rem*(0.75)*(0.26));
        top: calc(42rem*(0.75)*(0.26));
    }
    .four-js {
        height: calc(40rem*(0.75)*(0.26));
        left: calc(33rem*(0.75)*(0.26));
        top: calc(66rem*(0.75)*(0.26));
    }
    .five-js {
        height: calc(44rem*(0.75)*(0.26));
        left: calc(10rem*(0.75)*(0.26));
        top: calc(90rem*(0.75)*(0.26));
    }
    .six-js {
        height: calc(48rem*(0.75)*(0.26));
        left: calc(80rem*(0.75)*(0.26));
        top: calc(120rem*(0.75)*(0.26));
    }
    .seven-js {
        height: calc(44rem*(0.75)*(0.26));
        left: calc(46rem*(0.75)*(0.26));
        top: calc(128rem*(0.75)*(0.26));
    }
    .eight-js {
        height: calc(36rem*(0.75)*(0.26));
        left: calc(28rem*(0.75)*(0.26));
        top: calc(150rem*(0.75)*(0.26));
    }
    .nine-js {
        height: calc(40rem*(0.75)*(0.26));
        left: calc(2rem*(0.75)*(0.26));
        top: calc(141rem*(0.75)*(0.26));
    }
    .ten-js {
        height: calc(56rem*(0.75)*(0.26));
        left: calc(5rem*(0.75)*(0.26));
        top: calc(190rem*(0.75)*(0.26));
    }
    .eleven-js {
        height: calc(60rem*(0.75)*(0.26));
        left: calc(67rem*(0.75)*(0.26));
        top: calc(198rem*(0.75)*(0.26));
    }
    .twelve-js {
        height: calc(36rem*(0.75)*(0.26));
        left: calc(8rem*(0.75)*(0.26));
        top: calc(255rem*(0.75)*(0.26));
    }
    .thirteen-js {
        height: calc(46rem*(0.75)*(0.26));
        left: calc(26rem*(0.75)*(0.26));
        top: calc(274rem*(0.75)*(0.26));
    }
    .fourteen-js {
        height: calc(48rem*(0.75)*(0.26));
        left: calc(59rem*(0.75)*(0.26));
        top: calc(282rem*(0.75)*(0.26));
    }
    .fifteen-js {
        height: calc(44rem*(0.75)*(0.26));
        left: calc(88rem*(0.75)*(0.26));
        top: calc(300rem*(0.75)*(0.26));
        padding-bottom: calc(5rem*(0.75)*(0.26));
    }
}

/* Small devices (portrait tablets and large phone-ns, 600px and up) */
@media only screen and (min-width: 600px) {
    .one-js {
        height: calc(46rem*(0.75)*(0.41));
        left: calc(8rem*(0.75)*(0.41));
        top: calc(6rem*(0.75)*(0.41));
    }
    .two-js {
        height: calc(36rem*(0.75)*(0.41));
        left: calc(38rem*(0.75)*(0.41));
        top: calc(24rem*(0.75)*(0.41));
    }
    .three-js {
        height: calc(50rem*(0.75)*(0.41));
        left: calc(66rem*(0.75)*(0.41));
        top: calc(42rem*(0.75)*(0.41));
    }
    .four-js {
        height: calc(40rem*(0.75)*(0.41));
        left: calc(33rem*(0.75)*(0.41));
        top: calc(66rem*(0.75)*(0.41));
    }
    .five-js {
        height: calc(44rem*(0.75)*(0.41));
        left: calc(10rem*(0.75)*(0.41));
        top: calc(90rem*(0.75)*(0.41));
    }
    .six-js {
        height: calc(48rem*(0.75)*(0.41));
        left: calc(80rem*(0.75)*(0.41));
        top: calc(120rem*(0.75)*(0.41));
    }
    .seven-js {
        height: calc(44rem*(0.75)*(0.41));
        left: calc(46rem*(0.75)*(0.41));
        top: calc(128rem*(0.75)*(0.41));
    }
    .eight-js {
        height: calc(36rem*(0.75)*(0.41));
        left: calc(28rem*(0.75)*(0.41));
        top: calc(150rem*(0.75)*(0.41));
    }
    .nine-js {
        height: calc(40rem*(0.75)*(0.41));
        left: calc(2rem*(0.75)*(0.41));
        top: calc(141rem*(0.75)*(0.41));
    }
    .ten-js {
        height: calc(56rem*(0.75)*(0.41));
        left: calc(5rem*(0.75)*(0.41));
        top: calc(190rem*(0.75)*(0.41));
    }
    .eleven-js {
        height: calc(60rem*(0.75)*(0.41));
        left: calc(67rem*(0.75)*(0.41));
        top: calc(198rem*(0.75)*(0.41));
    }
    .twelve-js {
        height: calc(36rem*(0.75)*(0.41));
        left: calc(8rem*(0.75)*(0.41));
        top: calc(255rem*(0.75)*(0.41));
    }
    .thirteen-js {
        height: calc(46rem*(0.75)*(0.41));
        left: calc(26rem*(0.75)*(0.41));
        top: calc(274rem*(0.75)*(0.41));
    }
    .fourteen-js {
        height: calc(48rem*(0.75)*(0.41));
        left: calc(59rem*(0.75)*(0.41));
        top: calc(282rem*(0.75)*(0.41));
    }
    .fifteen-js {
        height: calc(44rem*(0.75)*(0.41));
        left: calc(88rem*(0.75)*(0.41));
        top: calc(300rem*(0.75)*(0.41));
        padding-bottom: calc(5rem*(0.75)*(0.41));
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .one-js {
        height: calc(46rem*(0.75)*(0.53));
        left: calc(8rem*(0.75)*(0.53));
        top: calc(6rem*(0.75)*(0.53));
    }
    .two-js {
        height: calc(36rem*(0.75)*(0.53));
        left: calc(38rem*(0.75)*(0.53));
        top: calc(24rem*(0.75)*(0.53));
    }
    .three-js {
        height: calc(50rem*(0.75)*(0.53));
        left: calc(66rem*(0.75)*(0.53));
        top: calc(42rem*(0.75)*(0.53));
    }
    .four-js {
        height: calc(40rem*(0.75)*(0.53));
        left: calc(33rem*(0.75)*(0.53));
        top: calc(66rem*(0.75)*(0.53));
    }
    .five-js {
        height: calc(44rem*(0.75)*(0.53));
        left: calc(10rem*(0.75)*(0.53));
        top: calc(90rem*(0.75)*(0.53));
    }
    .six-js {
        height: calc(48rem*(0.75)*(0.53));
        left: calc(80rem*(0.75)*(0.53));
        top: calc(120rem*(0.75)*(0.53));
    }
    .seven-js {
        height: calc(44rem*(0.75)*(0.53));
        left: calc(46rem*(0.75)*(0.53));
        top: calc(128rem*(0.75)*(0.53));
    }
    .eight-js {
        height: calc(36rem*(0.75)*(0.53));
        left: calc(28rem*(0.75)*(0.53));
        top: calc(150rem*(0.75)*(0.53));
    }
    .nine-js {
        height: calc(40rem*(0.75)*(0.53));
        left: calc(2rem*(0.75)*(0.53));
        top: calc(141rem*(0.75)*(0.53));
    }
    .ten-js {
        height: calc(56rem*(0.75)*(0.53));
        left: calc(5rem*(0.75)*(0.53));
        top: calc(190rem*(0.75)*(0.53));
    }
    .eleven-js {
        height: calc(60rem*(0.75)*(0.53));
        left: calc(67rem*(0.75)*(0.53));
        top: calc(198rem*(0.75)*(0.53));
    }
    .twelve-js {
        height: calc(36rem*(0.75)*(0.53));
        left: calc(8rem*(0.75)*(0.53));
        top: calc(255rem*(0.75)*(0.53));
    }
    .thirteen-js {
        height: calc(46rem*(0.75)*(0.53));
        left: calc(26rem*(0.75)*(0.53));
        top: calc(274rem*(0.75)*(0.53));
    }
    .fourteen-js {
        height: calc(48rem*(0.75)*(0.53));
        left: calc(59rem*(0.75)*(0.53));
        top: calc(282rem*(0.75)*(0.53));
    }
    .fifteen-js {
        height: calc(44rem*(0.75)*(0.53));
        left: calc(88rem*(0.75)*(0.53));
        top: calc(300rem*(0.75)*(0.53));
        padding-bottom: calc(5rem*(0.75)*(0.53));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .one-js {
        height: calc(46rem*(0.75)*(0.68));
        left: calc(8rem*(0.75)*(0.68));
        top: calc(6rem*(0.75)*(0.68));
    }
    .two-js {
        height: calc(36rem*(0.75)*(0.68));
        left: calc(38rem*(0.75)*(0.68));
        top: calc(24rem*(0.75)*(0.68));
    }
    .three-js {
        height: calc(50rem*(0.75)*(0.68));
        left: calc(66rem*(0.75)*(0.68));
        top: calc(42rem*(0.75)*(0.68));
    }
    .four-js {
        height: calc(40rem*(0.75)*(0.68));
        left: calc(33rem*(0.75)*(0.68));
        top: calc(66rem*(0.75)*(0.68));
    }
    .five-js {
        height: calc(44rem*(0.75)*(0.68));
        left: calc(10rem*(0.75)*(0.68));
        top: calc(90rem*(0.75)*(0.68));
    }
    .six-js {
        height: calc(48rem*(0.75)*(0.68));
        left: calc(80rem*(0.75)*(0.68));
        top: calc(120rem*(0.75)*(0.68));
    }
    .seven-js {
        height: calc(44rem*(0.75)*(0.68));
        left: calc(46rem*(0.75)*(0.68));
        top: calc(128rem*(0.75)*(0.68));
    }
    .eight-js {
        height: calc(36rem*(0.75)*(0.68));
        left: calc(28rem*(0.75)*(0.68));
        top: calc(150rem*(0.75)*(0.68));
    }
    .nine-js {
        height: calc(40rem*(0.75)*(0.68));
        left: calc(2rem*(0.75)*(0.68));
        top: calc(141rem*(0.75)*(0.68));
    }
    .ten-js {
        height: calc(56rem*(0.75)*(0.68));
        left: calc(5rem*(0.75)*(0.68));
        top: calc(190rem*(0.75)*(0.68));
    }
    .eleven-js {
        height: calc(60rem*(0.75)*(0.68));
        left: calc(67rem*(0.75)*(0.68));
        top: calc(198rem*(0.75)*(0.68));
    }
    .twelve-js {
        height: calc(36rem*(0.75)*(0.68));
        left: calc(8rem*(0.75)*(0.68));
        top: calc(255rem*(0.75)*(0.68));
    }
    .thirteen-js {
        height: calc(46rem*(0.75)*(0.68));
        left: calc(26rem*(0.75)*(0.68));
        top: calc(274rem*(0.75)*(0.68));
    }
    .fourteen-js {
        height: calc(48rem*(0.75)*(0.68));
        left: calc(59rem*(0.75)*(0.68));
        top: calc(282rem*(0.75)*(0.68));
    }
    .fifteen-js {
        height: calc(44rem*(0.75)*(0.68));
        left: calc(88rem*(0.75)*(0.68));
        top: calc(300rem*(0.75)*(0.68));
        padding-bottom: calc(5rem*(0.75)*(0.68));
    }
}

/* Semi large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .one-js {
        height: calc(46rem*(0.75)*(0.83));
        left: calc(8rem*(0.75)*(0.83));
        top: calc(6rem*(0.75)*(0.83));
    }
    .two-js {
        height: calc(36rem*(0.75)*(0.83));
        left: calc(38rem*(0.75)*(0.83));
        top: calc(24rem*(0.75)*(0.83));
    }
    .three-js {
        height: calc(50rem*(0.75)*(0.83));
        left: calc(66rem*(0.75)*(0.83));
        top: calc(42rem*(0.75)*(0.83));
    }
    .four-js {
        height: calc(40rem*(0.75)*(0.83));
        left: calc(33rem*(0.75)*(0.83));
        top: calc(66rem*(0.75)*(0.83));
    }
    .five-js {
        height: calc(44rem*(0.75)*(0.83));
        left: calc(10rem*(0.75)*(0.83));
        top: calc(90rem*(0.75))*(0.83);
    }
    .six-js {
        height: calc(48rem*(0.75)*(0.83));
        left: calc(80rem*(0.75)*(0.83));
        top: calc(120rem*(0.75)*(0.83));
    }
    .seven-js {
        height: calc(44rem*(0.75)*(0.83));
        left: calc(46rem*(0.75)*(0.83));
        top: calc(128rem*(0.75)*(0.83));
    }
    .eight-js {
        height: calc(36rem*(0.75)*(0.83));
        left: calc(28rem*(0.75)*(0.83));
        top: calc(150rem*(0.75)*(0.83));
    }
    .nine-js {
        height: calc(40rem*(0.75)*(0.83));
        left: calc(2rem*(0.75)*(0.83));
        top: calc(141rem*(0.75)*(0.83));
    }
    .ten-js {
        height: calc(56rem*(0.75)*(0.83));
        left: calc(5rem*(0.75)*(0.83));
        top: calc(190rem*(0.75)*(0.83));
    }
    .eleven-js {
        height: calc(60rem*(0.75)*(0.83));
        left: calc(67rem*(0.75)*(0.83));
        top: calc(198rem*(0.75)*(0.83));
    }
    .twelve-js {
        height: calc(36rem*(0.75)*(0.83));
        left: calc(8rem*(0.75)*(0.83));
        top: calc(255rem*(0.75)*(0.83));
    }
    .thirteen-js {
        height: calc(46rem*(0.75)*(0.83));
        left: calc(26rem*(0.75)*(0.83));
        top: calc(274rem*(0.75)*(0.83));
    }
    .fourteen-js {
        height: calc(48rem*(0.75)*(0.83));
        left: calc(59rem*(0.75)*(0.83));
        top: calc(282rem*(0.75)*(0.83));
    }
    .fifteen-js {
        height: calc(44rem*(0.75)*(0.83));
        left: calc(88rem*(0.75)*(0.83));
        top: calc(300rem*(0.75)*(0.83));
        padding-bottom: calc(5rem*(0.75)*(0.83));
    }
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    .one-js {
        height: calc(46rem*(0.75));
        left: calc(8rem*(0.75));
        top: calc(6rem*(0.75));
    }
    .two-js {
        height: calc(36rem*(0.75));
        left: calc(38rem*(0.75));
        top: calc(24rem*(0.75));
    }
    .three-js {
        height: calc(50rem*(0.75));
        left: calc(66rem*(0.75));
        top: calc(42rem*(0.75));
    }
    .four-js {
        height: calc(40rem*(0.75));
        left: calc(33rem*(0.75));
        top: calc(66rem*(0.75));
    }
    .five-js {
        height: calc(44rem*(0.75));
        left: calc(10rem*(0.75));
        top: calc(90rem*(0.75));
    }
    .six-js {
        height: calc(48rem*(0.75));
        left: calc(80rem*(0.75));
        top: calc(120rem*(0.75));
    }
    .seven-js {
        height: calc(44rem*(0.75));
        left: calc(46rem*(0.75));
        top: calc(128rem*(0.75));
    }
    .eight-js {
        height: calc(36rem*(0.75));
        left: calc(28rem*(0.75));
        top: calc(150rem*(0.75));
    }
    .nine-js {
        height: calc(40rem*(0.75));
        left: calc(2rem*(0.75));
        top: calc(141rem*(0.75));
    }
    .ten-js {
        height: calc(56rem*(0.75));
        left: calc(5rem*(0.75));
        top: calc(190rem*(0.75));
    }
    .eleven-js {
        height: calc(60rem*(0.75));
        left: calc(67rem*(0.75));
        top: calc(198rem*(0.75));
    }
    .twelve-js {
        height: calc(36rem*(0.75));
        left: calc(8rem*(0.75));
        top: calc(255rem*(0.75));
    }
    .thirteen-js {
        height: calc(46rem*(0.75));
        left: calc(26rem*(0.75));
        top: calc(274rem*(0.75));
    }
    .fourteen-js {
        height: calc(48rem*(0.75));
        left: calc(59rem*(0.75));
        top: calc(282rem*(0.75));
    }
    .fifteen-js {
        height: calc(44rem*(0.75));
        left: calc(88rem*(0.75));
        top: calc(300rem*(0.75));
        padding-bottom: calc(5rem*(0.75));
    }
}

/* Extra large devices (large laptops and desktops, 1680px and up) */
@media only screen and (min-width: 1680px) {
    .one-js {
        height: calc(46rem*(0.875));
        left: calc(8rem*(0.875));
        top: calc(6rem*(0.875));
    }
    .two-js {
        height: calc(36rem*(0.875));
        left: calc(38rem*(0.875));
        top: calc(24rem*(0.875));
    }
    .three-js {
        height: calc(50rem*(0.875));
        left: calc(66rem*(0.875));
        top: calc(42rem*(0.875));
    }
    .four-js {
        height: calc(40rem*(0.875));
        left: calc(33rem*(0.875));
        top: calc(66rem*(0.875));
    }
    .five-js {
        height: calc(44rem*(0.875));
        left: calc(10rem*(0.875));
        top: calc(90rem*(0.875));
    }
    .six-js {
        height: calc(48rem*(0.875));
        left: calc(80rem*(0.875));
        top: calc(120rem*(0.875));
    }
    .seven-js {
        height: calc(44rem*(0.875));
        left: calc(46rem*(0.875));
        top: calc(128rem*(0.875));
    }
    .eight-js {
        height: calc(36rem*(0.875));
        left: calc(28rem*(0.875));
        top: calc(150rem*(0.875));
    }
    .nine-js {
        height: calc(40rem*(0.875));
        left: calc(2rem*(0.875));
        top: calc(141rem*(0.875));
    }
    .ten-js {
        height: calc(56rem*(0.875));
        left: calc(5rem*(0.875));
        top: calc(190rem*(0.875));
    }
    .eleven-js {
        height: calc(60rem*(0.875));
        left: calc(67rem*(0.875));
        top: calc(198rem*(0.875));
    }
    .twelve-js {
        height: calc(36rem*(0.875));
        left: calc(8rem*(0.875));
        top: calc(255rem*(0.875));
    }
    .thirteen-js {
        height: calc(46rem*(0.875));
        left: calc(26rem*(0.875));
        top: calc(274rem*(0.875));
    }
    .fourteen-js {
        height: calc(48rem*(0.875));
        left: calc(59rem*(0.875));
        top: calc(282rem*(0.875));
    }
    .fifteen-js {
        height: calc(44rem*(0.875));
        left: calc(88rem*(0.875));
        top: calc(300rem*(0.875));
        padding-bottom: calc(5rem*(0.875));
    }
}

/* Max large devices (large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
    .one-js {
        height: 46rem;
        left: 8rem;
        top: 6rem;
    }
    .two-js {
        height: 36rem;
        left: 38rem;
        top: 24rem;
    }
    .three-js {
        height: 50rem;
        left: 66rem;
        top: 42rem;
    }
    .four-js {
        height: 40rem;
        left: 33rem;
        top: 66rem;
    }
    .five-js {
        height: 44rem;
        left: 10rem;
        top: 90rem;
    }
    .six-js {
        height: 48rem;
        left: 80rem;
        top: 120rem;
    }
    .seven-js {
        height: 44rem;
        left: 46rem;
        top: 128rem;
    }
    .eight-js {
        height: 36rem;
        left: 28rem;
        top: 150rem;
    }
    .nine-js {
        height: 40rem;
        left: 2rem;
        top: 141rem;
    }
    .ten-js {
        height: 56rem;
        left: 5rem;
        top: 190rem;
    }
    .eleven-js {
        height: 60rem;
        left: 67rem;
        top: 198rem;
    }
    .twelve-js {
        height: 36rem;
        left: 8rem;
        top: 255rem;
    }
    .thirteen-js {
        height: 46rem;
        left: 26rem;
        top: 274rem;
    }
    .fourteen-js {
        height: 48rem;
        left: 59rem;
        top: 282rem;
    }
    .fifteen-js {
        height: 44rem;
        left: 88rem;
        top: 300rem;
        padding-bottom: 5rem;
    }
}
