.abs {
    position: absolute;
    width: auto;
}

/* Extra small devices (phone-ns, 600px and down) */
@media only screen and (max-width: 600px) {
    .one-js {
        height: calc(46rem*(1/2)*(5/8));
        left: calc(8rem*(1/2)*(5/8));
        top: calc(6rem*(1/2)*(5/8));
    }
    .two-js {
        height: calc(36rem*(1/2)*(5/8));
        left: calc(38rem*(1/2)*(5/8));
        top: calc(24rem*(1/2)*(5/8));
    }
    .three-js {
        height: calc(50rem*(1/2)*(5/8));
        left: calc(66rem*(1/2)*(5/8));
        top: calc(42rem*(1/2)*(5/8));
    }
    .four-js {
        height: calc(40rem*(1/2)*(5/8));
        left: calc(33rem*(1/2)*(5/8));
        top: calc(66rem*(1/2)*(5/8));
    }
    .five-js {
        height: calc(44rem*(1/2)*(5/8));
        left: calc(10rem*(1/2)*(5/8));
        top: calc(90rem*(1/2)*(5/8));
    }
    .six-js {
        height: calc(48rem*(1/2)*(5/8));
        left: calc(80rem*(1/2)*(5/8));
        top: calc(120rem*(1/2)*(5/8));
    }
    .seven-js {
        height: calc(44rem*(1/2)*(5/8));
        left: calc(46rem*(1/2)*(5/8));
        top: calc(128rem*(1/2)*(5/8));
    }
    .eight-js {
        height: calc(36rem*(1/2)*(5/8));
        left: calc(28rem*(1/2)*(5/8));
        top: calc(150rem*(1/2)*(5/8));
    }
    .nine-js {
        height: calc(40rem*(1/2)*(5/8));
        left: calc(2rem*(1/2)*(5/8));
        top: calc(141rem*(1/2)*(5/8));
    }
    .ten-js {
        height: calc(56rem*(1/2)*(5/8));
        left: calc(5rem*(1/2)*(5/8));
        top: calc(190rem*(1/2)*(5/8));
    }
    .eleven-js {
        height: calc(60rem*(1/2)*(5/8));
        left: calc(67rem*(1/2)*(5/8));
        top: calc(198rem*(1/2)*(5/8));
    }
    .twelve-js {
        height: calc(36rem*(1/2)*(5/8));
        left: calc(8rem*(1/2)*(5/8));
        top: calc(255rem*(1/2)*(5/8));
    }
    .thirteen-js {
        height: calc(46rem*(1/2)*(5/8));
        left: calc(26rem*(1/2)*(5/8));
        top: calc(274rem*(1/2)*(5/8));
    }
    .fourteen-js {
        height: calc(48rem*(1/2)*(5/8));
        left: calc(59rem*(1/2)*(5/8));
        top: calc(282rem*(1/2)*(5/8));
    }
    .fifteen-js {
        height: calc(44rem*(1/2)*(5/8));
        left: calc(88rem*(1/2)*(5/8));
        top: calc(300rem*(1/2)*(5/8));
        padding-bottom: calc(5rem*(1/2)*(5/8));
    }
}

/* Small devices (portrait tablets and large phone-ns, 600px and up) */
@media only screen and (min-width: 600px) {
    .one-js {
        height: calc(46rem*(1/2));
        left: calc(8rem*(1/2));
        top: calc(6rem*(1/2));
    }
    .two-js {
        height: calc(36rem*(1/2));
        left: calc(38rem*(1/2));
        top: calc(24rem*(1/2));
    }
    .three-js {
        height: calc(50rem*(1/2));
        left: calc(66rem*(1/2));
        top: calc(42rem*(1/2));
    }
    .four-js {
        height: calc(40rem*(1/2));
        left: calc(33rem*(1/2));
        top: calc(66rem*(1/2));
    }
    .five-js {
        height: calc(44rem*(1/2));
        left: calc(10rem*(1/2));
        top: calc(90rem*(1/2));
    }
    .six-js {
        height: calc(48rem*(1/2));
        left: calc(80rem*(1/2));
        top: calc(120rem*(1/2));
    }
    .seven-js {
        height: calc(44rem*(1/2));
        left: calc(46rem*(1/2));
        top: calc(128rem*(1/2));
    }
    .eight-js {
        height: calc(36rem*(1/2));
        left: calc(28rem*(1/2));
        top: calc(150rem*(1/2));
    }
    .nine-js {
        height: calc(40rem*(1/2));
        left: calc(2rem*(1/2));
        top: calc(141rem*(1/2));
    }
    .ten-js {
        height: calc(56rem*(1/2));
        left: calc(5rem*(1/2));
        top: calc(190rem*(1/2));
    }
    .eleven-js {
        height: calc(60rem*(1/2));
        left: calc(67rem*(1/2));
        top: calc(198rem*(1/2));
    }
    .twelve-js {
        height: calc(36rem*(1/2));
        left: calc(8rem*(1/2));
        top: calc(255rem*(1/2));
    }
    .thirteen-js {
        height: calc(46rem*(1/2));
        left: calc(26rem*(1/2));
        top: calc(274rem*(1/2));
    }
    .fourteen-js {
        height: calc(48rem*(1/2));
        left: calc(59rem*(1/2));
        top: calc(282rem*(1/2));
    }
    .fifteen-js {
        height: calc(44rem*(1/2));
        left: calc(88rem*(1/2));
        top: calc(300rem*(1/2));
        padding-bottom: calc(5rem*(1/2));
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .one-js {
        height: calc(46rem*(2/3));
        left: calc(8rem*(2/3));
        top: calc(6rem*(2/3));
    }
    .two-js {
        height: calc(36rem*(2/3));
        left: calc(38rem*(2/3));
        top: calc(24rem*(2/3));
    }
    .three-js {
        height: calc(50rem*(2/3));
        left: calc(66rem*(2/3));
        top: calc(42rem*(2/3));
    }
    .four-js {
        height: calc(40rem*(2/3));
        left: calc(33rem*(2/3));
        top: calc(66rem*(2/3));
    }
    .five-js {
        height: calc(44rem*(2/3));
        left: calc(10rem*(2/3));
        top: calc(90rem*(2/3));
    }
    .six-js {
        height: calc(48rem*(2/3));
        left: calc(80rem*(2/3));
        top: calc(120rem*(2/3));
    }
    .seven-js {
        height: calc(44rem*(2/3));
        left: calc(46rem*(2/3));
        top: calc(128rem*(2/3));
    }
    .eight-js {
        height: calc(36rem*(2/3));
        left: calc(28rem*(2/3));
        top: calc(150rem*(2/3));
    }
    .nine-js {
        height: calc(40rem*(2/3));
        left: calc(2rem*(2/3));
        top: calc(141rem*(2/3));
    }
    .ten-js {
        height: calc(56rem*(2/3));
        left: calc(5rem*(2/3));
        top: calc(190rem*(2/3));
    }
    .eleven-js {
        height: calc(60rem*(2/3));
        left: calc(67rem*(2/3));
        top: calc(198rem*(2/3));
    }
    .twelve-js {
        height: calc(36rem*(2/3));
        left: calc(8rem*(2/3));
        top: calc(255rem*(2/3));
    }
    .thirteen-js {
        height: calc(46rem*(2/3));
        left: calc(26rem*(2/3));
        top: calc(274rem*(2/3));
    }
    .fourteen-js {
        height: calc(48rem*(2/3));
        left: calc(59rem*(2/3));
        top: calc(282rem*(2/3));
    }
    .fifteen-js {
        height: calc(44rem*(2/3));
        left: calc(88rem*(2/3));
        top: calc(300rem*(2/3));
        padding-bottom: calc(5rem*(2/3));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .one-js {
        height: calc(46rem*(5/6));
        left: calc(8rem*(5/6));
        top: calc(6rem*(5/6));
    }
    .two-js {
        height: calc(36rem*(5/6));
        left: calc(38rem*(5/6));
        top: calc(24rem*(5/6));
    }
    .three-js {
        height: calc(50rem*(5/6));
        left: calc(66rem*(5/6));
        top: calc(42rem*(5/6));
    }
    .four-js {
        height: calc(40rem*(5/6));
        left: calc(33rem*(5/6));
        top: calc(66rem*(5/6));
    }
    .five-js {
        height: calc(44rem*(5/6));
        left: calc(10rem*(5/6));
        top: calc(90rem*(5/6));
    }
    .six-js {
        height: calc(48rem*(5/6));
        left: calc(80rem*(5/6));
        top: calc(120rem*(5/6));
    }
    .seven-js {
        height: calc(44rem*(5/6));
        left: calc(46rem*(5/6));
        top: calc(128rem*(5/6));
    }
    .eight-js {
        height: calc(36rem*(5/6));
        left: calc(28rem*(5/6));
        top: calc(150rem*(5/6));
    }
    .nine-js {
        height: calc(40rem*(5/6));
        left: calc(2rem*(5/6));
        top: calc(141rem*(5/6));
    }
    .ten-js {
        height: calc(56rem*(5/6));
        left: calc(5rem*(5/6));
        top: calc(190rem*(5/6));
    }
    .eleven-js {
        height: calc(60rem*(5/6));
        left: calc(67rem*(5/6));
        top: calc(198rem*(5/6));
    }
    .twelve-js {
        height: calc(36rem*(5/6));
        left: calc(8rem*(5/6));
        top: calc(255rem*(5/6));
    }
    .thirteen-js {
        height: calc(46rem*(5/6));
        left: calc(26rem*(5/6));
        top: calc(274rem*(5/6));
    }
    .fourteen-js {
        height: calc(48rem*(5/6));
        left: calc(59rem*(5/6));
        top: calc(282rem*(5/6));
    }
    .fifteen-js {
        height: calc(44rem*(5/6));
        left: calc(88rem*(5/6));
        top: calc(300rem*(5/6));
        padding-bottom: calc(5rem*(5/6));
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .one-js {
        height: 46rem;
        left: 8rem;
        top: 6rem;
    }
    .two-js {
        height: 36rem;
        left: 38rem;
        top: 24rem;
    }
    .three-js {
        height: 50rem;
        left: 66rem;
        top: 42rem;
    }
    .four-js {
        height: 40rem;
        left: 33rem;
        top: 66rem;
    }
    .five-js {
        height: 44rem;
        left: 10rem;
        top: 90rem;
    }
    .six-js {
        height: 48rem;
        left: 80rem;
        top: 120rem;
    }
    .seven-js {
        height: 44rem;
        left: 46rem;
        top: 128rem;
    }
    .eight-js {
        height: 36rem;
        left: 28rem;
        top: 150rem;
    }
    .nine-js {
        height: 40rem;
        left: 2rem;
        top: 141rem;
    }
    .ten-js {
        height: 56rem;
        left: 5rem;
        top: 190rem;
    }
    .eleven-js {
        height: 60rem;
        left: 67rem;
        top: 198rem;
    }
    .twelve-js {
        height: 36rem;
        left: 8rem;
        top: 255rem;
    }
    .thirteen-js {
        height: 46rem;
        left: 26rem;
        top: 274rem;
    }
    .fourteen-js {
        height: 48rem;
        left: 59rem;
        top: 282rem;
    }
    .fifteen-js {
        height: 44rem;
        left: 88rem;
        top: 300rem;
        padding-bottom: 5rem;
    }
}

/* padding-bottom: 5rem; */
