.abs {
    position: absolute;
}

.w-auto {
    width: auto;
}

/* Extra small devices (phone-ns, 600px and down) */
@media only screen and (max-width: 600px) {
    .one-sv {
        height: calc(40rem*(1/2)*(5/8));
        left: calc(56rem*(1/2)*(5/8));
        top: calc(6rem*(1/2)*(5/8));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(1/2)*(5/8));
        left: calc(22rem*(1/2)*(5/8));
        top: calc(18rem*(1/2)*(5/8));
    }
    .three-sv {
        height: calc(32rem*(1/2)*(5/8));
        left: calc(38rem*(1/2)*(5/8));
        top: calc(40rem*(1/2)*(5/8));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(1/2)*(5/8));
        left: calc(2rem*(1/2)*(5/8));
        top: calc(65rem*(1/2)*(5/8));
    }
    .five-sv {
        height: calc(36rem*(1/2)*(5/8));
        left: calc(40rem*(1/2)*(5/8));
        top: calc(87rem*(1/2)*(5/8));
    }
    .six-sv {
        height: calc(32rem*(1/2)*(5/8));
        left: calc(66rem*(1/2)*(5/8));
        top: calc(105rem*(1/2)*(5/8));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(1/2)*(5/8));
        left: calc(4rem*(1/2)*(5/8));
        top: calc(129rem*(1/2)*(5/8));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(1/2)*(5/8));
        left: calc(52rem*(1/2)*(5/8));
        top: calc(152rem*(1/2)*(5/8));
    }
    .nine-sv {
        height: calc(34rem*(1/2)*(5/8));
        left: calc(30rem*(1/2)*(5/8));
        top: calc(174rem*(1/2)*(5/8));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(1/2)*(5/8));
        left: calc(5rem*(1/2)*(5/8));
        top: calc(206rem*(1/2)*(5/8));
    }
    .eleven-sv {
        height: calc(40rem*(1/2)*(5/8));
        left: calc(47rem*(1/2)*(5/8));
        top: calc(213rem*(1/2)*(5/8));
        padding-bottom: calc(5rem*(1/2)*(5/8));
    }
}

/* Small devices (portrait tablets and large phone-ns, 600px and up) */
@media only screen and (min-width: 600px) {
    .one-sv {
        height: calc(40rem*(1/2));
        left: calc(56rem*(1/2));
        top: calc(6rem*(1/2));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(1/2));
        left: calc(22rem*(1/2));
        top: calc(18rem*(1/2));
    }
    .three-sv {
        height: calc(32rem*(1/2));
        left: calc(38rem*(1/2));
        top: calc(40rem*(1/2));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(1/2));
        left: calc(2rem*(1/2));
        top: calc(65rem*(1/2));
    }
    .five-sv {
        height: calc(36rem*(1/2));
        left: calc(40rem*(1/2));
        top: calc(87rem*(1/2));
    }
    .six-sv {
        height: calc(32rem*(1/2));
        left: calc(66rem*(1/2));
        top: calc(105rem*(1/2));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(1/2));
        left: calc(4rem*(1/2));
        top: calc(129rem*(1/2));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(1/2));
        left: calc(52rem*(1/2));
        top: calc(152rem*(1/2));
    }
    .nine-sv {
        height: calc(34rem*(1/2));
        left: calc(30rem*(1/2));
        top: calc(174rem*(1/2));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(1/2));
        left: calc(5rem*(1/2));
        top: calc(206rem*(1/2));
    }
    .eleven-sv {
        height: calc(40rem*(1/2));
        left: calc(47rem*(1/2));
        top: calc(213rem*(1/2));
        padding-bottom: calc(5rem*(1/2));
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .one-sv {
        height: calc(40rem*(2/3));
        left: calc(56rem*(2/3));
        top: calc(6rem*(2/3));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(2/3));
        left: calc(22rem*(2/3));
        top: calc(18rem*(2/3));
    }
    .three-sv {
        height: calc(32rem*(2/3));
        left: calc(38rem*(2/3));
        top: calc(40rem*(2/3));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(2/3));
        left: calc(2rem*(2/3));
        top: calc(65rem*(2/3));
    }
    .five-sv {
        height: calc(36rem*(2/3));
        left: calc(40rem*(2/3));
        top: calc(87rem*(2/3));
    }
    .six-sv {
        height: calc(32rem*(2/3));
        left: calc(66rem*(2/3));
        top: calc(105rem*(2/3));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(2/3));
        left: calc(4rem*(2/3));
        top: calc(129rem*(2/3));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(2/3));
        left: calc(52rem*(2/3));
        top: calc(152rem*(2/3));
    }
    .nine-sv {
        height: calc(34rem*(2/3));
        left: calc(30rem*(2/3));
        top: calc(174rem*(2/3));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(2/3));
        left: calc(5rem*(2/3));
        top: calc(206rem*(2/3));
    }
    .eleven-sv {
        height: calc(40rem*(2/3));
        left: calc(47rem*(2/3));
        top: calc(213rem*(2/3));
        padding-bottom: calc(5rem*(2/3));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .one-sv {
        height: calc(40rem*(5/6));
        left: calc(56rem*(5/6));
        top: calc(6rem*(5/6));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(5/6));
        left: calc(22rem*(5/6));
        top: calc(18rem*(5/6));
    }
    .three-sv {
        height: calc(32rem*(5/6));
        left: calc(38rem*(5/6));
        top: calc(40rem*(5/6));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(5/6));
        left: calc(2rem*(5/6));
        top: calc(65rem*(5/6));
    }
    .five-sv {
        height: calc(36rem*(5/6));
        left: calc(40rem*(5/6));
        top: calc(87rem*(5/6));
    }
    .six-sv {
        height: calc(32rem*(5/6));
        left: calc(66rem*(5/6));
        top: calc(105rem*(5/6));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(5/6));
        left: calc(4rem*(5/6));
        top: calc(129rem*(5/6));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(5/6));
        left: calc(52rem*(5/6));
        top: calc(152rem*(5/6));
    }
    .nine-sv {
        height: calc(34rem*(5/6));
        left: calc(30rem*(5/6));
        top: calc(174rem*(5/6));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(5/6));
        left: calc(5rem*(5/6));
        top: calc(206rem*(5/6));
    }
    .eleven-sv {
        height: calc(40rem*(5/6));
        left: calc(47rem*(5/6));
        top: calc(213rem*(5/6));
        padding-bottom: calc(5rem*(5/6));
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .one-sv {
        height: 40rem;
        left: 56rem;
        top: 6rem;
    }
    .two-sv {
        height: auto;
        width: 36rem;
        left: 22rem;
        top: 18rem;
    }
    .three-sv {
        height: 32rem;
        left: 38rem;
        top: 40rem;
    }
    .four-sv {
        height: auto;
        width: 40rem;
        left: 2rem;
        top: 65rem;
    }
    .five-sv {
        height: 36rem;
        left: 40rem;
        top: 87rem;
    }
    .six-sv {
        height: 32rem;
        left: 66rem;
        top: 105rem;
    }
    .seven-sv {
        height: auto;
        width: 40rem;
        left: 4rem;
        top: 129rem;
    }
    .eight-sv {
        height: auto;
        width: 36rem;
        left: 52rem;
        top: 152rem;
    }
    .nine-sv {
        height: 34rem;
        left: 30rem;
        top: 174rem;
    }
    .ten-sv {
        height: auto;
        width: 36rem;
        left: 5rem;
        top: 206rem;
    }
    .eleven-sv {
        height: 40rem;
        left: 47rem;
        top: 213rem;
        padding-bottom: 5rem;
    }
}
