.abs {
    position: absolute;
}

.w-auto {
    width: auto;
}

/* Extra extra small devices (phone-ns, 375px and down) */
@media only screen and (max-width: 375px) {
    .one-sv {
        height: calc(40rem*(0.22));
        left: calc(56rem*(0.22));
        top: calc(6rem*(0.22));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(0.22));
        left: calc(22rem*(0.22));
        top: calc(18rem*(0.22));
    }
    .three-sv {
        height: calc(32rem*(0.22));
        left: calc(38rem*(0.22));
        top: calc(40rem*(0.22));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(0.22));
        left: calc(2rem*(0.22));
        top: calc(65rem*(0.22));
    }
    .five-sv {
        height: calc(36rem*(0.22));
        left: calc(40rem*(0.22));
        top: calc(87rem*(0.22));
    }
    .six-sv {
        height: calc(32rem*(0.22));
        left: calc(66rem*(0.22));
        top: calc(105rem*(0.22));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(0.22));
        left: calc(4rem*(0.22));
        top: calc(129rem*(0.22));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(0.22));
        left: calc(52rem*(0.22));
        top: calc(152rem*(0.22));
    }
    .nine-sv {
        height: calc(34rem*(0.22));
        left: calc(30rem*(0.22));
        top: calc(174rem*(0.22));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(0.22));
        left: calc(5rem*(0.22));
        top: calc(206rem*(0.22));
    }
    .eleven-sv {
        height: calc(40rem*(0.22));
        left: calc(47rem*(0.22));
        top: calc(213rem*(0.22));
        padding-bottom: calc(5rem*(0.22));
    }
}

/* Extra small devices (phone-ns, 600px and down) */
@media only screen and (max-width: 600px) {
    .one-sv {
        height: calc(40rem*(0.26));
        left: calc(56rem*(0.26));
        top: calc(6rem*(0.26));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(0.26));
        left: calc(22rem*(0.26));
        top: calc(18rem*(0.26));
    }
    .three-sv {
        height: calc(32rem*(0.26));
        left: calc(38rem*(0.26));
        top: calc(40rem*(0.26));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(0.26));
        left: calc(2rem*(0.26));
        top: calc(65rem*(0.26));
    }
    .five-sv {
        height: calc(36rem*(0.26));
        left: calc(40rem*(0.26));
        top: calc(87rem*(0.26));
    }
    .six-sv {
        height: calc(32rem*(0.26));
        left: calc(66rem*(0.26));
        top: calc(105rem*(0.26));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(0.26));
        left: calc(4rem*(0.26));
        top: calc(129rem*(0.26));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(0.26));
        left: calc(52rem*(0.26));
        top: calc(152rem*(0.26));
    }
    .nine-sv {
        height: calc(34rem*(0.26));
        left: calc(30rem*(0.26));
        top: calc(174rem*(0.26));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(0.26));
        left: calc(5rem*(0.26));
        top: calc(206rem*(0.26));
    }
    .eleven-sv {
        height: calc(40rem*(0.26));
        left: calc(47rem*(0.26));
        top: calc(213rem*(0.26));
        padding-bottom: calc(5rem*(0.26));
    }
}

/* Small devices (portrait tablets and large phone-ns, 600px and up) */
@media only screen and (min-width: 600px) {
    .one-sv {
        height: calc(40rem*(0.41));
        left: calc(56rem*(0.41));
        top: calc(6rem*(0.41));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(0.41));
        left: calc(22rem*(0.41));
        top: calc(18rem*(0.41));
    }
    .three-sv {
        height: calc(32rem*(0.41));
        left: calc(38rem*(0.41));
        top: calc(40rem*(0.41));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(0.41));
        left: calc(2rem*(0.41));
        top: calc(65rem*(0.41));
    }
    .five-sv {
        height: calc(36rem*(0.41));
        left: calc(40rem*(0.41));
        top: calc(87rem*(0.41));
    }
    .six-sv {
        height: calc(32rem*(0.41));
        left: calc(66rem*(0.41));
        top: calc(105rem*(0.41));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(0.41));
        left: calc(4rem*(0.41));
        top: calc(129rem*(0.41));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(0.41));
        left: calc(52rem*(0.41));
        top: calc(152rem*(0.41));
    }
    .nine-sv {
        height: calc(34rem*(0.41));
        left: calc(30rem*(0.41));
        top: calc(174rem*(0.41));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(0.41));
        left: calc(5rem*(0.41));
        top: calc(206rem*(0.41));
    }
    .eleven-sv {
        height: calc(40rem*(0.41));
        left: calc(47rem*(0.41));
        top: calc(213rem*(0.41));
        padding-bottom: calc(5rem*(0.41));
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .one-sv {
        height: calc(40rem*(0.53));
        left: calc(56rem*(0.53));
        top: calc(6rem*(0.53));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(0.53));
        left: calc(22rem*(0.53));
        top: calc(18rem*(0.53));
    }
    .three-sv {
        height: calc(32rem*(0.53));
        left: calc(38rem*(0.53));
        top: calc(40rem*(0.53));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(0.53));
        left: calc(2rem*(0.53));
        top: calc(65rem*(0.53));
    }
    .five-sv {
        height: calc(36rem*(0.53));
        left: calc(40rem*(0.53));
        top: calc(87rem*(0.53));
    }
    .six-sv {
        height: calc(32rem*(0.53));
        left: calc(66rem*(0.53));
        top: calc(105rem*(0.53));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(0.53));
        left: calc(4rem*(0.53));
        top: calc(129rem*(0.53));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(0.53));
        left: calc(52rem*(0.53));
        top: calc(152rem*(0.53));
    }
    .nine-sv {
        height: calc(34rem*(0.53));
        left: calc(30rem*(0.53));
        top: calc(174rem*(0.53));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(0.53));
        left: calc(5rem*(0.53));
        top: calc(206rem*(0.53));
    }
    .eleven-sv {
        height: calc(40rem*(0.53));
        left: calc(47rem*(0.53));
        top: calc(213rem*(0.53));
        padding-bottom: calc(5rem*(0.53));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .one-sv {
        height: calc(40rem*(0.68));
        left: calc(56rem*(0.68));
        top: calc(6rem*(0.68));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(0.68));
        left: calc(22rem*(0.68));
        top: calc(18rem*(0.68));
    }
    .three-sv {
        height: calc(32rem*(0.68));
        left: calc(38rem*(0.68));
        top: calc(40rem*(0.68));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(0.68));
        left: calc(2rem*(0.68));
        top: calc(65rem*(0.68));
    }
    .five-sv {
        height: calc(36rem*(0.68));
        left: calc(40rem*(0.68));
        top: calc(87rem*(0.68));
    }
    .six-sv {
        height: calc(32rem*(0.68));
        left: calc(66rem*(0.68));
        top: calc(105rem*(0.68));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(0.68));
        left: calc(4rem*(0.68));
        top: calc(129rem*(0.68));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(0.68));
        left: calc(52rem*(0.68));
        top: calc(152rem*(0.68));
    }
    .nine-sv {
        height: calc(34rem*(0.68));
        left: calc(30rem*(0.68));
        top: calc(174rem*(0.68));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(0.68));
        left: calc(5rem*(0.68));
        top: calc(206rem*(0.68));
    }
    .eleven-sv {
        height: calc(40rem*(0.68));
        left: calc(47rem*(0.68));
        top: calc(213rem*(0.68));
        padding-bottom: calc(5rem*(0.68));
    }
}

/* Semi large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .one-sv {
        height: calc(40rem*(0.83));
        left: calc(56rem*(0.83));
        top: calc(6rem*(0.83));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(0.83));
        left: calc(22rem*(0.83));
        top: calc(18rem*(0.83));
    }
    .three-sv {
        height: calc(32rem*(0.83));
        left: calc(38rem*(0.83));
        top: calc(40rem*(0.83));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(0.83));
        left: calc(2rem*(0.83));
        top: calc(65rem*(0.83));
    }
    .five-sv {
        height: calc(36rem*(0.83));
        left: calc(40rem*(0.83));
        top: calc(87rem*(0.83));
    }
    .six-sv {
        height: calc(32rem*(0.83));
        left: calc(66rem*(0.83));
        top: calc(105rem*(0.83));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(0.83));
        left: calc(4rem*(0.83));
        top: calc(129rem*(0.83));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(0.83));
        left: calc(52rem*(0.83));
        top: calc(152rem*(0.83));
    }
    .nine-sv {
        height: calc(34rem*(0.83));
        left: calc(30rem*(0.83));
        top: calc(174rem*(0.83));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(0.83));
        left: calc(5rem*(0.83));
        top: calc(206rem*(0.83));
    }
    .eleven-sv {
        height: calc(40rem*(0.83));
        left: calc(47rem*(0.83));
        top: calc(213rem*(0.83));
        padding-bottom: calc(5rem*(0.83));
    }
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    .one-sv {
        height: 40rem;
        left: 56rem;
        top: 6rem;
    }
    .two-sv {
        height: auto;
        width: 36rem;
        left: 22rem;
        top: 18rem;
    }
    .three-sv {
        height: 32rem;
        left: 38rem;
        top: 40rem;
    }
    .four-sv {
        height: auto;
        width: 40rem;
        left: 2rem;
        top: 65rem;
    }
    .five-sv {
        height: 36rem;
        left: 40rem;
        top: 87rem;
    }
    .six-sv {
        height: 32rem;
        left: 66rem;
        top: 105rem;
    }
    .seven-sv {
        height: auto;
        width: 40rem;
        left: 4rem;
        top: 129rem;
    }
    .eight-sv {
        height: auto;
        width: 36rem;
        left: 52rem;
        top: 152rem;
    }
    .nine-sv {
        height: 34rem;
        left: 30rem;
        top: 174rem;
    }
    .ten-sv {
        height: auto;
        width: 36rem;
        left: 5rem;
        top: 206rem;
    }
    .eleven-sv {
        height: 40rem;
        left: 47rem;
        top: 213rem;
        padding-bottom: 5rem;
    }
}

/* Extra extra large devices (laptops/desktops, 1680px and up) */
@media only screen and (min-width: 1680px) {
    .one-sv {
        height: calc(40rem*(1.16));
        left: calc(56rem*(1.16));
        top: calc(6rem*(1.16));
    }
    .two-sv {
        height: auto;
        width: calc(36rem*(1.16));
        left: calc(22rem*(1.16));
        top: calc(18rem*(1.16));
    }
    .three-sv {
        height: calc(32rem*(1.16));
        left: calc(38rem*(1.16));
        top: calc(40rem*(1.16));
    }
    .four-sv {
        height: auto;
        width: calc(40rem*(1.16));
        left: calc(2rem*(1.16));
        top: calc(65rem*(1.16));
    }
    .five-sv {
        height: calc(36rem*(1.16));
        left: calc(40rem*(1.16));
        top: calc(87rem*(1.16));
    }
    .six-sv {
        height: calc(32rem*(1.16));
        left: calc(66rem*(1.16));
        top: calc(105rem*(1.16));
    }
    .seven-sv {
        height: auto;
        width: calc(40rem*(1.16));
        left: calc(4rem*(1.16));
        top: calc(129rem*(1.16));
    }
    .eight-sv {
        height: auto;
        width: calc(36rem*(1.16));
        left: calc(52rem*(1.16));
        top: calc(152rem*(1.16));
    }
    .nine-sv {
        height: calc(34rem*(1.16));
        left: calc(30rem*(1.16));
        top: calc(174rem*(1.16));
    }
    .ten-sv {
        height: auto;
        width: calc(36rem*(1.16));
        left: calc(5rem*(1.16));
        top: calc(206rem*(1.16));
    }
    .eleven-sv {
        height: calc(40rem*(1.16));
        left: calc(47rem*(1.16));
        top: calc(213rem*(1.16));
        padding-bottom: calc(5rem*(1.16));
    }
}
