.abs {
    position: absolute;
    width: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .one {
        height: calc(46rem*(1/2)*(5/8));
        left: calc(8rem*(1/2)*(5/8));
        top: calc(6rem*(1/2)*(5/8));
    }
    .two {
        height: calc(36rem*(1/2)*(5/8));
        left: calc(38rem*(1/2)*(5/8));
        top: calc(24rem*(1/2)*(5/8));
    }
    .three {
        height: calc(32rem*(1/2)*(5/8));
        left: calc(66rem*(1/2)*(5/8));
        top: calc(42rem*(1/2)*(5/8));
    }
    .four {
        height: calc(40rem*(1/2)*(5/8));
        left: calc(46rem*(1/2)*(5/8));
        top: calc(66rem*(1/2)*(5/8));
    }
    .five {
        height: calc(44rem*(1/2)*(5/8));
        left: calc(20rem*(1/2)*(5/8));
        top: calc(108rem*(1/2)*(5/8));
        padding-bottom: calc(5rem*(1/2)*(5/8));
    }
    .six {
        height: calc(36rem*(1/2)*(5/8));
        left: calc(2rem*(1/2)*(5/8));
        top: calc(100rem*(1/2)*(5/8));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .one {
        height: calc(46rem*(1/2));
        left: calc(8rem*(1/2));
        top: calc(6rem*(1/2));
    }
    .two {
        height: calc(36rem*(1/2));
        left: calc(38rem*(1/2));
        top: calc(24rem*(1/2));
    }
    .three {
        height: calc(32rem*(1/2));
        left: calc(66rem*(1/2));
        top: calc(42rem*(1/2));
    }
    .four {
        height: calc(40rem*(1/2));
        left: calc(46rem*(1/2));
        top: calc(66rem*(1/2));
    }
    .five {
        height: calc(44rem*(1/2));
        left: calc(20rem*(1/2));
        top: calc(108rem*(1/2));
        padding-bottom: calc(5rem*(1/2));
    }
    .six {
        height: calc(36rem*(1/2));
        left: calc(2rem*(1/2));
        top: calc(100rem*(1/2));
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .one {
        height: calc(46rem*(2/3));
        left: calc(8rem*(2/3));
        top: calc(6rem*(2/3));
    }
    .two {
        height: calc(36rem*(2/3));
        left: calc(38rem*(2/3));
        top: calc(24rem*(2/3));
    }
    .three {
        height: calc(32rem*(2/3));
        left: calc(66rem*(2/3));
        top: calc(42rem*(2/3));
    }
    .four {
        height: calc(40rem*(2/3));
        left: calc(46rem*(2/3));
        top: calc(66rem*(2/3));
    }
    .five {
        height: calc(44rem*(2/3));
        left: calc(20rem*(2/3));
        top: calc(108rem*(2/3));
        padding-bottom: calc(5rem*(2/3));
    }
    .six {
        height: calc(36rem*(2/3));
        left: calc(2rem*(2/3));
        top: calc(100rem*(2/3));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .one {
        height: calc(46rem*(5/6));
        left: calc(8rem*(5/6));
        top: calc(6rem*(5/6));
    }
    .two {
        height: calc(36rem*(5/6));
        left: calc(38rem*(5/6));
        top: calc(24rem*(5/6));
    }
    .three {
        height: calc(32rem*(5/6));
        left: calc(66rem*(5/6));
        top: calc(42rem*(5/6));
    }
    .four {
        height: calc(40rem*(5/6));
        left: calc(46rem*(5/6));
        top: calc(66rem*(5/6));
    }
    .five {
        height: calc(44rem*(5/6));
        left: calc(20rem*(5/6));
        top: calc(108rem*(5/6));
        padding-bottom: calc(5rem*(5/6));
    }
    .six {
        height: calc(36rem*(5/6));
        left: calc(2rem*(5/6));
        top: calc(100rem*(5/6));
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .one {
        height: 46rem;
        left: 8rem;
        top: 6rem;
    }
    .two {
        height: 36rem;
        left: 38rem;
        top: 24rem;
    }
    .three {
        height: 32rem;
        left: 66rem;
        top: 42rem;
    }
    .four {
        height: 40rem;
        left: 46rem;
        top: 66rem;
    }
    .five {
        height: 44rem;
        left: 20rem;
        top: 108rem;
        padding-bottom: 5rem;
    }
    .six {
        height: 36rem;
        left: 2rem;
        top: 100rem;
    }
}
